<ion-view title="buscar" hide-nav-bar="true" id="page7" >
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h1 id="buscar-heading3" style="color:#000000;text-align:center;">Buscar</h1>
    <div class="list card" id="buscar-card22">
      <ion-item class="item-avatar positive" id="buscar-list-item18" ui-sref="tabsController.productos">
        <h2positive>Categoria</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="buscar-list-item20" ui-sref="tabsController.productos">
        <h2positive>Categoria</h2positive>
      </ion-item>
    </div>
    <h3 id="buscar-heading4" style="color:#000000;">Mejores categorias</h3>
    <ion-list id="buscar-list6">
      <ion-item id="buscar-list-item25" ui-sref="tabsController.productos">Item 1</ion-item>
      <ion-item id="buscar-list-item26" ui-sref="tabsController.productos">Item 2</ion-item>
      <ion-item id="buscar-list-item27">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>