<ion-view title="loader" hide-nav-bar="true" id="page12">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="preloader-wrapper big active " style="top: 35%;left: 41%;">
        <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
        </div>
    </div>
  </ion-content>
</ion-view>
