<ion-view title="main" hide-nav-bar="true" id="page11" >
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h1 id="main-heading5" style="color:#000000;text-align:center;">Mis Corotos</h1>
    
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a href="#test1" style="color: white;">Coroteo</a></li>
            <li class="tab col s3"><a class="active" href="#test2" style="color: white;">Corotié</a></li>
          </ul>
        </div>
        <!-- Coroteo -->
        <div id="test1" class="col s12">
          <h4>Coroteo</h4>
          <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
          </div>
          <div id="main-markdown37" class="show-list-numbers-and-dots">
            <p style="color:#FF0000;">Estado:
              <strong>Sin Confirmar</strong>
            </p>
          </div>
        </div>
        <!-- Corotíe -->
        <div id="test2" class="col s12">
          <h4>Corotié</h4>
          <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
          </div>
          <div id="main-markdown37" class="show-list-numbers-and-dots">
            <p style="color:#FF0000;">Estado:
              <strong>Cancelado</strong>
            </p>
          </div>
        </div>
        
        
  </ion-content>
</ion-view>