<ion-view title="main" hide-nav-bar="true" id="page11" >
    <div style="background-color:#0054a6; height:70px">
        <h3 id="main-heading5" class="text-darken-2 center-align" style="color:white; padding-top:10px">Mis Corotos</h3>
    </div>
    <div style="width:100% ;background-color:#0054a6; height:40px">
        <ul class="tabs" style="z-index: 1;">
            <li class="tab col s3"><a ng:click="coroteo = false;coroteo_call()" class="active" style="color: white;">Corotíe</a></li>
            <li class="tab col s3"><a ng:click="coroteo = true;corotie_call()" style="color: white;">Coroteando</a></li>
        </ul>
    </div>
    <ion-content padding="true" class="manual-ios-statusbar-padding" style="margin-top:75px;background-color:#ededed">        
        <!-- Coroteo -->
        <div id="test1" class="col s12" ng:show="!coroteo">
            <br />
            <p style="font-family:'Myriad Pro Bold Italic'">En esta seccion puedes ver los productos que te han interesado y su estado</p>

            <div style="overflow: hidden;overflow-y: scroll; overflow-x: hidden; height: 330px;">

                <div class="row" style="background-color:white;width:auto;" ng:repeat="coroto in myCorotos">
                    <div class="col s12" >

                        <div class="col s6" style="text-align: center; margin-left:auto; margin-right:auto; ">
                            <img width="100" ng-src="{{coroto.images.split(' ')[0]}}" onError="this.src='img/Imagen_no_disponible.jpg';" ng:click="selecImg(coroto)">
                        </div>

                        <div class="col s6">
                            <p><b>Nombre:</b> {{coroto.name}}</p>
                            <p ><b>Propietario:</b> {{coroto.nombre}}</p>
                            <p ng:if="coroto.estado == 'Aceptado' || coroto.estado == 'Entregado'" ><b >Estado:</b> <a style="color: green">{{coroto.estado}}</a> </p>
                            <p ng:if="coroto.estado == 'Rechazado'" ><b>Estado:</b> <a style="color: red">{{coroto.estado}}</a> </p>
                            <p ng:if="coroto.estado != 'Aceptado' && coroto.estado != 'Rechazado' && coroto.estado != 'Entregado'" ><b>Estado:</b> {{coroto.estado}} </p>
                        </div>
                        <div class="col s12 center-align">
                            <button ng:if="coroto.estado == 'Aceptado'" ng:click="getContact('myModalFull', coroto.Id_interesado, false)"  class="btn" style="line-height: 0;padding: 0;text-transform: none;letter-spacing: 0.2px;width: 129px;height: 31px;background: #0c3c6b;">Ver Contacto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Corotíe -->
        <div id="test2" class="col s12" ng:show="coroteo">
            <br />
            <p style="font-family:'Myriad Pro Bold Italic'">En esta seccion puedes ver los productos que deseas regalar o intercambiar</p>
            <div style="overflow: hidden;overflow-y: scroll; overflow-x: hidden; height: 330px;">

                <div class="row" style="background: #e2e4e7;" ng:repeat="pro in myProductos track by $index" >
                    <div class="col s12" >
                        <div class="col s6" >
                            
                            <img width="100"  ng-src="{{pro.Images.split(' ')[0]}}" onError="this.src='img/Imagen_no_disponible.jpg';">
                            
                        </div>
                        <div class="col s6" >
                            <p><b>Nombre:</b> {{pro.Name}}</p>
                            <p><b>Cantidad de Interesado:</b> <b>{{pro.interesado}}</b></p>
                        </div>
                        <div class="col s12">
                            <b>Descripcion: {{pro.Detail}}</p>
                        </div>

                        <div class="col s12 center-align" ng:show="pro.interesado > 0">
                            <p ng:if="pro.estado == 'Aceptado' || pro.estado == 'Entregado'" ><b >Estado:</b> <a style="color: green">{{pro.estado}}</a> </p>
                            <button ng:show="pro.estado == 'Aceptado' || pro.estado == 'Entregado'" ng:click="getContact('myModalFull', pro.Id_usuario, true, pro.Id_product, pro.estado)" class="btn" style="line-height: 0;padding: 0;text-transform: none;letter-spacing: 0.2px;width: 129px;height: 31px;background: #0c3c6b;">Ver Contacto</button>
                            <button ng:if="pro.estado == 'En Espera'"  ng:click="show_intere('modal_interes', pro.Id_product)" class="btn" style="line-height: 0;padding: 0;text-transform: none;letter-spacing: 0.2px;width: 129px;height: 31px;background: #0c3c6b;">Ver Interesados</button>
                        </div>
                        <!--
                        <div class="col s6">
                            <div class="chip" ng:repeat="int in pro.interesed" ng:click="show_modal('myModal', int)">
                              <img src="{{int.picture}}" alt="Contact Person">
                              {{int.name}}
                            </div>
                        </div>
                        -->
                    </div>
                </div>
                
            </div>
        </div>

        <!-- Modal de interesados-->
        <div id="modal_interes" class="modal_other">
            <!-- Modal content -->
            <div class="modal_other-content">
                <div class="modal-header">
                    <span class="close_other" id="close_other_interes">&times;</span>
                    <h5>Personas Interesadas</h5>
                </div>
                <div class="modal-body" style="max-height: 250px;overflow: auto">

                    <div class="row" ng:repeat="interes in Interested" style="padding: 0;">
                        <div class="col s12" style="padding: 0;">
                            <div class="col s5"> <img ng-src="{{interes.photo}}" onError="this.src='img/Imagen_no_disponible.jpg';" width="50"  ></div>
                            <div class="col s7" style="font-size: 14px;padding: 0;">
                                <p><b>Nombre</b>: {{interes.Nombre}}</p>
                                <p><a href="" style="color:#0c3c6b" ng:click="show_det_inter('myModal', interes)">Ver Más Información</a></p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer center-align">
                    <div class="row">
                        <div class="col s12">
                            <button class="btn blue" style="background:#0c3c6b" ng:click="close_modal('modal_interes')">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- The Modal -->
        <div id="myModal" class="modal_other">
            <!-- Modal content -->
            <div class="modal_other-content">
                <div class="modal-header">
                    <span class="close_other" id="close_other">&times;</span>
                    <h5>Persona Interesada</h5>
                </div>
                <div class="modal-body">
                    <p> <img ng-src="{{detail_inter.photo}}" width="50" onError="this.src='img/Imagen_no_disponible.jpg';"  ></p>
                    <p><b>Nombre</b>: {{detail_inter.Nombre}}</p>
                    <p><b>Descripcion</b>: {{detail_inter.descripcion}}</p>
                </div>
                <div class="modal-footer">
                    <div class="row" style="margin: 0 0 0 32px;">
                        <div class="cardcontainer">
                            <div class="col s6">
                                <button ng:click="declinar('myModal', detail_inter.Id_interesado )" style="background: #c00;">X</button>
                            </div>
                            <div class="col s6">
                                <button ng:click="aceptar('myModal', detail_inter.Id_interesado)">✔</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- The Modal for full interesed-->
        <div id="myModalFull" class="modal_other">
            <!-- Modal content -->
            <div class="modal_other-content">
                <div class="modal-header">
                    <span class="close_other" id="close_full_inter">&times;</span>
                    <h5>Contacto</h5>
                </div>
                <div class="modal-body">
                    <p> <img ng-src="{{fullInteresed.photo}}" width="50" onError="this.src='img/Imagen_no_disponible.jpg';"  ></p>
                    <p><b>Nombre</b>: {{fullInteresed.Nombre}}</p>
                    <p><b>Descripcion</b>: {{fullInteresed.descripcion}}</p>
                    <p><b>Contacto</b>: {{fullInteresed.Email}} - {{fullInteresed.Phone}}</p>
                </div>
                <div class="modal-footer center-align">
                    <div class="row" ng:show="showBtn">
                            <div class="col s12">
                                <button class="btn" ng:if="owner" style="background:#0c3c6b" ng:click="completed('myModalFull', fullInteresed.Id, id_product)">Entregado</button>

                            </div>                           
                    </div>
                    <div class="row">
                            <div class="col s12">
                                <button class="btn blue"  ng:click="close_modal('myModalFull')">Cerrar</button>

                            </div>
                    </div>
                </div>
            </div>
        </div>

  </ion-content>
</ion-view>

<style>

/* The Modal (background) */
.modal_other {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #387ef5; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* modal_other Content/Box */
.modal_other-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close_other {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_other:hover,
.close_other:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #387ef5;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
}

.cardcontainer button{
	background: #0c0;
    border: none;
    color: #fff;
    border-radius: 50% 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 .5em;
    display: inline-block;
}

</style>