<div class="box blue" style="display: inline-flex;width: 100%;"><a href="#Page/productos" style="margin: 7px 0 0 6px;" ><i class="small material-icons" style="color: white">&#xE408;</i></a> <h5 style="text-align: center;color: white; text-transform:uppercase;margin:8px 0 0 0;width: 100%;">{{details.Data.Name_product}}</h5></div>
  
<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide ng:repeat="dt in details.Data.Images">
    <img style="height: 100%;width: 100%;" src="{{dt}}">
  </ion-slide>
  
</ion-slide-box>


<div class="row">
    <div class="col s12">
        <span style="text-transform:uppercase">{{details.Data.Name_product}}</span>
    </div>

    <div class="col s12">
        <div star-rating rating-value="details.Data.Rating" max="5"></div> <span>{{details.Data.Rating}} /
            5</span> (5 es excelente)
    </div>

    <div class="col s12">
        <span style="text-transform:uppercase">{{details.Data.Detail}}</span>
    </div>

</div>


<style>
    
.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size:30px;
}
.rating .filled {
    color: orangered;
}
.clear{
  margin-top:20px;
}
</style>