<ion-view title="profile" hide-nav-bar="true" id="page12">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h1 id="profile-heading6" style="color:#000000;text-align:center;">Perfíl</h1>

      <div class="list" >
        <form>
          <div style="text-align: center;">
            <ion-list id="profile-list10">
              <img  style="width: 150px; height: 150px" src="http://krescruz.github.io/angular-materialize/images/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
            </ion-list>
          </div>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Nombres</span>
            <input type="text">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Apellidos</span>
            <input type="text" >
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Teléfono</span>
            <input type="text" >
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Correo</span>
            <input type="email" >
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Descripción</span>
            <textarea max="200" ></textarea>
          </label>


          <div id="publish-button-bar4" style="margin: 0 0 40px 0;" class="button-bar">
            <button id="publish-button16" class="button button-positive  button-block">Guardar</button>
          </div>
        </form>
      </div>
  </ion-content>
</ion-view>