<ion-view title="publish" hide-nav-bar="true" id="page10" >
  <ion-content class="manual-ios-statusbar-padding">
    <h5 id="profile-heading6" class="blue-text text-darken-2 center-align">Regala o Intercambia</h5>

    <!-- FORMULARIO DE ENVIO PARA PUBLICAR UN ARTICULO-->
    <form>
      <div class="list">

        <label class="item item-input item-stacked-label" style="padding:0" >
            
            <div style="text-align: center">
              <span class="input-label">Capturar Imagenes</span><br>
              <img src="img/camera.png" width="100" style="margin: 7px" id="addPicture">
            </div>

            <!-- images here -->
            <div id="images">
              <div style="display: inline-block;padding: 2px;margin: 2px" ng:repeat="im in images_up"><img src="{{im}}" width="50"></div>
            </div>
        </label>
        
        <br>
        <label class="item item-input item-stacked-label">
          <span class="input-label">¿Qué es?</span>
          <input type="text" id="what">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Detalle</span>
         <textarea id="detail" class="materialize-textarea"></textarea>
        </label>

        <label class="item item-input item-select">
            <span class="input-label">Categoria</span>
                <div >
                    <select class="form-control" style="height: 100%;border: none;border-bottom: 1px solid #b8b8b8;border-right: 1px solid #b8b8b8;" id="category">
                        <option value=""></option>
                        <option ng:repeat="cat in categories | orderBy:'Txt_Categoria':false" value="{{cat.Id}}">{{cat.Txt_Categoria}}</option>
                    </select>
                </div>
            </span>
        </label>
      
        <label class="item item-input item-stacked-label">
          <ion-item style="border: none;padding: 0;" class="range range-positive" id="publish-range5">
            Estado del producto
            <div class=col-md-12>
                <div ng:repeat="rating in ratings">
                    <div star-rating rating-value="rating.current" max="rating.max" ng:click="catchRating(rating)" on-rating-selected="getSelectedRating(rating)"></div> <span>{{rating.current}} /
                    {{rating.max}}</span> ({{rating.max}} es excelente)
                </div>
            </div>

          </ion-item>
        </label>

        <!-- PARA REGALAR U OBSEQUIAR-->
        <!--
        <label class="item item-input item-stacked-label">
          <div class="switch">
              <label>
                <b class="input-label">Intercambiar</b>
                <input type="checkbox" name="give" ng:model="give"  ng:change="onChanged(give)">
                <span class="lever"></span>
                <b class="input-label">Regalar</b>
              </label>
            </div>
        </label>
        -->
      </div>

      <!-- mensaje de notificacion -->
      <ez-alert></ez-alert>

      <!-- BOTONES DE ENVIO O CANCELACION -->
      <div id="publish-button-bar4" class="button-bar">
        <button id="publish-button14" style="margin: 0 0 50px 0;" class="button button-stable  button-block" ng:click="cancel()">Cancelar</button>
        <button id="publish-button16" style="margin: 0 0 50px 0;" class="button button-positive  button-block" ng:click="saveData()">Guardar</button>
      </div>

    </form>
    
  </ion-content>
</ion-view>


<script>
  
  $('#detail').trigger('autoresize');
  $('.modal').modal();

</script>

<style>
    
.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size:30px;
}
.rating .filled {
    color: orangered;
}
.clear{
  margin-top:20px;
}
</style>