<ion-view title="publish" hide-nav-bar="true" id="page10" >
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h2 id="profile-heading6" class="blue-text text-darken-2 center-align">Subir Un Producto</h2>

    <form>
      <div class="list">

        <label class="item item-input item-stacked-label" style="padding:0" >
            <span class="input-label">Capturar Imagenes</span><br><br>
            <button class="btn" id="addPicture">Presiona aquí</button>
            <!-- images here -->
            <div id="images">
              <div style="display: inline-block;padding: 2px;margin: 2px" ng:repeat="im in images_up"><img src="{{im}}" width="50"></div>
            </div>
        </label>
        <br>
        <label class="item item-input item-stacked-label">
          <span class="input-label">¿Qué es?</span>
          <input type="text" id="what">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Detalle</span>
         <textarea id="detail" class="materialize-textarea"></textarea>
        </label>

        <label class="item item-input item-select">
            <span class="input-label">Categoria</span>
                <div >
                  
                    <select class="form-control" style="height: 100%;border: none;border-bottom: 1px solid #b8b8b8;border-right: 1px solid #b8b8b8;" id="category">
                        <option value=""></option>
                        <option ng:repeat="cat in categories" value="{{cat.id}}">{{cat.Txt_Categoria}}</option>
                    </select>
                </div>
            </span>
        </label>
      
        <label class="item item-input item-stacked-label">
          <ion-item style="border: none;" class="range range-positive" id="publish-range5">Estado del producto

            <div class=col-md-12>
                <div ng:repeat="rating in ratings">
                    <div star-rating rating-value="rating.current" max="rating.max" ng:click="catchRating(rating)" on-rating-selected="getSelectedRating(rating)"></div> <span>{{rating.current}} /
                    {{rating.max}}</span> ({{rating.max}} es excelente)
                </div>
            </div>

          </ion-item>
        </label>

        <label class="item item-input item-stacked-label">
          
          <span class="input-label">Regalar</span>

          <div class="switch" style="margin: 0 0 0 196px;">
              <label>
                No
                <input type="checkbox" ng:model="give" >
                <span class="lever"></span>
                Sí
              </label>
            </div>
        </label>
        </label>
        
        <label class="item item-input item-stacked-label">
          <span class="input-label">Intercambiar</span>

          <div class="switch" style="margin: 0 0 0 196px;">
              <label>
                No
                <input type="checkbox" disabled ng:checked="!give" >
                <span class="lever"></span>
                Sí
              </label>
            </div>
        </label>
      </div>

      <ez-alert></ez-alert>

      <div id="publish-button-bar4" class="button-bar">
        <button id="publish-button14" style="margin: 0 0 50px 0;" class="button button-stable  button-block" ng:click="cancel()">Cancelar</button>
        <button id="publish-button16" style="margin: 0 0 50px 0;" class="button button-positive  button-block" ng:click="saveData()">Guardar</button>
      </div>



    </form>

    <script id="my-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Agregar Imagen</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Nombre Imagen</span>
              <input ng-model="newUser.firstName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Last Name</span>
              <input ng-model="newUser.lastName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input ng-model="newUser.email" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="createContact(newUser)">Agregar</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

  </ion-content>
</ion-view>


<script>
  
  $('#detail').trigger('autoresize');
  $('.modal').modal();

</script>

<style>
    
.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size:30px;
}
.rating .filled {
    color: orangered;
}
.clear{
  margin-top:20px;
}
</style>