<ion-view hide-nav-bar="true" id="page1" style="background-color:#F1F1F1;">
  <ion-tabs class="tabs-positive tabs-icon-only" id="tabsController-tabs1">
    <ion-tab title="Camera Tab" icon="ion-ios-contact-outline" href="#/Page/page12" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab [root]="inicio" title="inicio" icon="ion-android-hand" ng:if="tab" href="#/Page/inicio" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Cloud Tab" icon="ion-chatbox" ng:if="tab" href="#/Page/page11" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>